@page
@model WebApplication1.Pages.UserPanelModel
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Model

@inject UserManager<ApplicationUser> userManager
@{ ApplicationUser user = await userManager.GetUserAsync(User);}
<link rel="stylesheet" href="~/css/UserPanel.css" />


<div class="container d-flex align-items-center justify-content-center" style="width:40%">
    <div class="_card">
        <div class="_card-body">
            <div class="d-flex flex-column align-items-center">
                @if (Model.profilePic == null)
                {
    <img class="rounded-circle"  width="40%" alt="profile" src="~/img/default_pic.png" /> }
                else
                {
    <img class="rounded-circle"  width="40%" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.profilePic))" />}
                <div class="d-flex flex-grow-1 edit">
                    <br />

                    <h4 style="color:white">@Model.user.UserName</h4>
                    <p class="text-secondary mb-1" style="color:white">@Model.user.Email</p>
                    <br />
                    <a class="btn btn-primary" asp-page="/ChangePassword">Edit Password</a>
                    <br />
                    <a class="btn btn-primary " asp-page="/ChangeEmail"><i class="fa-solid fa-pen-to-square"></i>Edit Email\Username</a>
                    <br />
                    <a class="btn btn-primary " asp-page="/ProfilePicture"><i class="fa-solid fa-image"></i> Edit pic</a>
                    @if (await userManager.IsInRoleAsync(user, "Admin"))
                    {
                        <br />
                        <a class="btn btn-primary " asp-page="/AddUser"><i class="fa-solid fa-user-plus"></i> Add users</a>
                        <br />
                        <a class="btn btn-primary " asp-page="/EditNews"><i class="fa-solid fa-rectangle-ad"></i> Edit News</a>
                        <br />
                        <a class="btn btn-primary " asp-route-id=27124892-6c79-4248-ac59-c789d2eabb2a asp-page="/DeleteUsers"><i class="fa-solid fa-user-xmark"></i> Delete user</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>